/* css geral  */
body {
    font-family: "Open Sans" sans-serif;
    background: #0c0b09;
    color: #cac8c3;
}

a {
    color: #7300ff;
    text-decoration: none;
}
a:hover {
    color: #7300ff44;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}