/* css geral  */
body {
    font-family: "Open Sans" sans-serif;
    background: #000000;
    color: #837b7b;
}

a {
    color: #7300ff;
    text-decoration: none;
}
a:hover {
    color: #7300ff44;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #1a1814;
}

#preloader::before{
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffaa00;
    border-top-color: #974cf2;
    border-bottom-color: #974cf2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* back toptop */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all 0.4s;
    border: 2px solid #ffaa00;
}

.back-to-top i {
    font-size: 28px;
    background: #ffaa00;
    color: #000000;
}

.back-to-top:hover {
    background: #ffaa00;
    color: #000000;
}

.back-to-top:hover i {
    color: gray;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}
/* topbar */

.topbar {
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}
#topbar .topbar-scrolled {
    top: -40px;
}
#topbar .contact-info i {
    font-style: normal;
    color: #fda800;
}
#topbar .contact-info i span {
    padding-left: 5px;
    color: white;
}

/* header */

#header {
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 996;
    padding: 15px;
    top: 40px;
}
#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}
/* logo em texto */
#header .logo{
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "", serif;
    
}

#header .logo a {
    color: #be94f1;
}

/* tamanho para logo em imagem  */
#header .logo img {
    max-height: 40px;
}

/* botao reservas */

.book-a-table-btn {
    margin: 0 0 0 15px;
    border: 2px solid #ffaa00;
    color: #fda800;
    border-radius: 50px;
    padding: 8px 25px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transform: 0.3s;
}

.book-a-table-btn:hover {
    background: #fda800;
    color: #000000;
}

@media (max-width: 992px) {
    .book-a-table-btn {
        margin: 0 15px 0 0;
        padding: 8px 20px;
    }
}
/* navegação menu desktop */

.navbar {
    padding: 0px;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
}
.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar .a:hover, .navbar .active .navbar .active:focus, .navbar li:hover>a{
    color: #fda800;
}
@media (max-width: 1366px) {
    .navbar ul {
        left: -90%;
    }
}
/* menu mobile */

.mobile-nav-toggle {
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background: white;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #000000;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #ffaa00;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg);
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .container {
    padding-top: 110px;
}

@media (max-width:992) {
    #hero .container {
        padding: 98px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(255, 255, 255);
    font-family: "poppins", sans-serif;
}

#hero h1 span {
    color: rgb(226, 192, 164);
}

#hero h2 {
    color: white;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
    background: #99313148;
}
 
#hero .btns {
    margin-top: 30px;
}

#hero .btn-menu,
#hero .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    border: 2px solid #fda800;
    line-height: 1;
    color: white;
    transition: 0.3s;
}

#hero .btn-menu:hover,
#hero .btn-book:hover {
    background: #f0af2c;
    color: #000000;
}
#hero .btn-book {
    margin-left: 30px;
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient( #f0af2c 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent ;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-iteration-count: forwards;
    animation-timing-function: steps (0.7s);
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(182, 117, 5, 0.4);
    top: -15px;
    left: -15px;
    background: rgba(198, 16, 0, 0);

}
#hero .play-btn:hover::after {
    border-left: ;
}